@font-face {
    font-family: "Montserrat";
    src: 
    url("./fonts/JTUSjIg1_i6t8kCHKm459W1hyzbi.woff2");
    /* url("./fonts/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2"); */
}
 
@font-face {
    font-family: "Montserrat-bold";
    src: 
    url("./fonts/Montserrat-Bold.ttf");
} 

body {
    padding: 0;
    margin: 0;
    background-color: #1C222D;
    display: flex;
    flex-direction: column;
    width: 100%;
    /* align-items: center; */
}

header {
    width: 100%;
    height: 77px;
    background-color: #1D1D1B;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.header {
    width: 1350px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header img {
    width: 361px;
}

.header a {
    font-family: "Montserrat";
    font-size: 13px;
    color: white;
}

.header span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 40px;
    background-color: white;
    font-size: 18px;
    font-family: "Montserrat-bold";
    border-radius: 30px;
}

.first-container {
    width: 100%;
    height: 630px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.welcome_div {
    display: flex;
    flex-direction: column;
    width: 1346px;
    height: 566px;
    border: 2px white solid;
    border-radius: 20px;
    /* justify-content: center; */
    z-index: 1;
}

.welcome_div img {
    position: absolute;
    width: 1350px;
    height: 570px;
    object-fit: cover;
    z-index: -1;
    filter: blur(19px);
}

.welcome_div .content {
    padding: 4px 0 0 114px;
}

.welcome_div h1 {
    color: white;
    max-width: 855px;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 64px;
    font-weight: 700;
    height: 256px;
    width: 855px;
    vertical-align: middle;
    line-height : 64px;
    margin-bottom: 20px;
}
.welcome_div p {
    color: white;
    max-width: 477px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    width: 477px;
    line-height : 24px;
    height : 72px;
}

.welcome_div input {
    width: 287px;
    height: 53px;
    color: white;
    font-family: "Montserrat";
    border-radius: 20px;
    font-size: 24px;
}

.welcome_btns {
    display: flex;
    margin-top: 70px;
    flex-direction: row;
    gap: 20px;
}

.btn1 {
    background-color: #B008EC;
    border: none;
}

.btn2 {
    background: none;
    border: 1px solid #ffffff;
}

.second-container {
    width: 100%;
    height: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0px 50px 0px;
}

.sc-first-div, .sc-second-div {
    width: 1346px;
    height: 590px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sc-block-1, .sc-block-2 {
    width: 660px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sc-block-1 img,.sc-block-2 img  {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
}

.sc-text-block {
    width: 100%;
    height: 280px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.open-door {
    border-radius: 20px;
    background-color: #AB00EA;
}

.sc-minblock {
    width: 315px;
    height: 280px;
    background-color: #3E3F56;
    border-radius: 20px;
}

.sc-block {
    width: 100%;
    height: 280px;
    background-color: #3E3F56;
    border-radius: 20px;
}

.why-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 1200px;
    margin-bottom: 50px;
}

.why-div h2 {
    color: white;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 64px;
    vertical-align: middle;
}

.why-div {
    display: flex;
    flex-direction: column;
    width: 1350px;
}

.why-block1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 1060px;
}

.why-block2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 945px;
    height: 100%;
}

.why-block2-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 710px;
}

.why-block2-1-1 {
    width: 310px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.why-block2-1-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 620px;
    height: 100%;
}

.why-block2-1-1-1 {
    display: flex;
    width: 100%;
    height: 425px;
    background-color: #3E3F56;
    border-radius: 20px;
}

.why-block2-1-1-2 {
    display: flex;
    width: 100%;
    height: 252px;
    background-color: #3E3F56;
    border-radius: 20px;
}

.why-block2-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 280px;
    background-color: #3E3F56;
    border-radius: 20px;
}

.why-block2-1-2-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 280px;
}

.why-block2-1-2-2 {
    display: flex;
    width: 100%;
    height: 410px;
    background-color: #3E3F56;
    border-radius: 20px;
}

.why-block2-1-2-1-1 {
    display: flex;
    width: 300px;
    height: 100%;
    background-color: #3E3F56;
    border-radius: 20px;
}

.why-block2-1-2-1-2 {
    display: flex;
    width: 300px;
    height: 100%;
    background-color: #3E3F56;
    border-radius: 20px;
}

.why-block3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 385px;
    height: 100%;
}

.why-block3-1 {
    width: 100%;
    height: 550px;
    background-color: #3E3F56;
    border-radius: 20px;
}

.why-block3-2 {
    width: 100%;
    height: 440px;
    background-color: #3E3F56;
    border-radius: 20px;
}

.specialization-container {
    width: 100%;
    height: 1730px;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-bottom: 100px;
}

.specialization-div {
    width: 1346px;
    height: 100%;
    padding: 20px 20px 10px 20px;
    background-color: #3E3F56;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.specialization-div h2 {
    display: flex;
    width: 100%;
    font-size: 64px;
    font-family: "Montserrat-bold";
    color:white;
}

.specializations-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 1550px;
}

.specializations-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 470px;
}

.specialization-block {
    /* display: flex; */
    width: 410px;
    height: 100%;
    background-color: none;
    border-radius: 20px;
}

.specialization-color {
    background-color: #141821;
}

.form-color {
    background-color: #AB00EA;
}

.photos-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 765px;
    border-radius: 20px;
}

.photos-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1346px;
    height: 100%;
    background-color: #3E3F56;
    border-radius: 20px;
    padding: 20px 20px 10px 20px;
    gap:20px;
}

.photos-div h2 {
    color: white;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 64px;
    vertical-align: middle;
    margin: 0;
}

.photos-block {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    background-color: #AB00EA;
}

.photos-line {
display: flex;
width: 100%;
height:48%;
flex-direction: row;
justify-content: space-between;
}

.photos-line img {
    width: 400px;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}  